<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My All in One App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
<div id="app" class="container-fluid">
    <header class="mb-5">
        <h1 class="display-4 text-center">My All in One App</h1>
        <nav class="navbar navbar-expand-lg justify-content-center">
            <ul class="navbar-nav" v-for="section in sections" :key="section.id">
                <li class="nav-item">
                    <button @click.prevent="toggle(section.id)" class="btn mx-2 btn-primary">{{ section.name }}</button>
                </li>
            </ul>
        </nav>
    </header>

    <home v-if="sections[0].show"></home>

    <calculator v-if="sections[1].show"></calculator>

    <to-do-list v-if="sections[2].show"></to-do-list>

    <crypto-price v-if="sections[3].show"></crypto-price>

</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./components/home.js"></script>
<script src="./components/calculator.js"></script> 
<script src="./components/todo-list.js"></script>
<script src="./components/crypto-price.js"></script>

<script>
const cryptoUrl = "https://api.coinlore.net/api/tickers/";
Vue.createApp({
    data() {
        return {
            sections: [{id: 0, name: 'Home', show: true}, {id: 1, name: 'Calculator', show: false}, {id: 2, name: 'TODO List', show: false}, {id: 3, name: 'Crypto Price', show: false}],
            selected: 0
        }
    },
    methods: {
        toggle(index) {
            this.sections[this.selected].show = false; 
            this.sections[index].show = true; 
            this.selected = index;
        }
    },
    components: {
        'home': Home,
        'calculator': Calculator,
        'to-do-list': ToDoList,
        'crypto-price': CryptoPrice
    }
}).mount('#app')
</script>
</body>

</html>
